<h1>Zeige alle Kunden an</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Firstname</th>
      <th>Street</th>
      <th>Zip</th>
      <th>City</th>
      <th>Country</th>
      <th>Tel</th>
      <th>Email</th>
      <th>Skype uri</th>
      <th>Lync uri</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.firstname %></td>
        <td><%= contact.street %></td>
        <td><%= contact.zip %></td>
        <td><%= contact.city %></td>
        <td><%= contact.country %></td>
        <td><%= contact.tel %></td>
        <td><%= contact.email %></td>
        <td><%= link_to 'Skype', contact.skype_link %></td>
        <td><%= link_to 'Lync', contact.lync_link %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
